.img-thumbnail {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  border-top: none;
}

@media only screen and (max-width: 992px) {
  button {
    padding: 4px 4px;
  }
}
@media only screen and (max-width: 404px) {
  .member-tabs {
    font-size: 14px;
  }
}
@media only screen and (max-width: 372px) {
  .member-tabs {
    font-size: 12px;
  }
}
@media only screen and (max-width: 342px) {
  .member-tabs {
    font-size: 11px;
  }
}
@media only screen and (max-width: 326px) {
  .member-tabs {
    font-size: 10px;
  }
}


.tab-wrap {
  margin-top: 15px;
}

.space {
  margin-top: 20px;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }
