<div class="row" *ngIf="member">
  <div class="col-md-4 col-sm-5">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last active:</strong>
          <p>{{member.lastActive}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Messages</button>
        </div>
      </div>
     </div>
   </div>


  <div class="col-md-8 col-sm-7">
    <div class="tab-wrap">
    <tabset class="member-tabs">
      <tab heading="About {{member.knownAs}}">
        <div class="space">
        <h4>Description</h4>
        <p>{{member.introduction}}</p>
        <h4>Looking for</h4>
        <p>{{member.lookingFor}}</p>
      </div>
      </tab>
      <tab heading="Interests">
        <div class="space">
        <h4>Interests</h4>
        <p>{{member.interests}}</p>
        </div>
      </tab>
      <tab heading="Photos">
        <div class="space">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </div>
      </tab>
      <tab heading="Messages">
        <div class="space">
        <p>Messages go here</p>
        </div>
      </tab>
    </tabset>
  </div>
  </div>
</div>
